div.categoriesMenu>ul {

}
li.menuList {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin-bottom: 3px;
}
li.blackMenuList {
    background-color: rgb(240, 240, 240);
}
a.nonStyle {
    text-decoration: none;
    color: rgb(3, 3, 3);
}
div.checkBlock {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
input.radio {
    margin-right: 30px;
}

div.miniPost {
    width: 100%;
    height: 5em;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}
img.imgPost {
    float: left;
    height: 5em;
}
span.des {
    
}
span.rub {
    float: right;
    padding: 5px;
}
span.allText {
    display: block;
    padding: 10px;
    height: 2.3em;
    overflow: hidden;
    text-overflow: clip;
}

div.post {
    width: 100%;
    margin-top: 2em;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}
div.post>img.imgPost {
    display: block;
    width: 90%;
    height: 400px;
    margin-left: 5%;
}
span.allTextBig {
    display: block;
    padding: 10px;
}
input.catList {
    position: relative;
    width: 50%;
    left: 25%;
    top: -11em;
    text-align: center;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
