div.categoriesMenu>ul {

}
li.menuList {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin-bottom: 3px;
}
li.blackMenuList {
    background-color: rgb(240, 240, 240);
}
a.nonStyle {
    text-decoration: none;
    color: rgb(3, 3, 3);
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}
input.photoBtn {
    width: 80%;
    margin-left: 20%;
    margin-bottom: 15px;
}
div.checkBlock {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
input.radio {
    margin-right: 30px;
}

